body{
background-color:lavender;
}
form{
    margin-left: 60px;
}
h1{
    color:blueviolet;
    font-family: verdana;
    margin-left: 50px;
    font-size: 50px;
    margin-top: 20px;
}
h3{
    font-size: 30px;
    font-family: avant garde;
    margin-left: 60px;
}
label{
    font-size: 30px;
}
input{
    displya;
}